/* Barra de navegacion */

.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 768px){
    .navbar-brand{
        display: none;
    }
}